@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100,0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.bline {
  border-width: 2px;
  border-style: dashed;
  border-color: yellow;
}

.yellow {
  color: yellow;
}

.font-black {
  font-size: 1.2rem;
  font-weight: 900;
}

.edu-box {
  border-width: 2px;
  border-style: dashed;
  border-color: yellow;
  border-radius: 20px;
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif;
  animation: fade;
  margin-right: 40px;
}

.underline {
  text-decoration: underline;
}

body {
  background-color: #081b29;
  color: #ededed;
}

.head1 {
  width: 80%;
  height: 7px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  margin-bottom: 30px;
}

.edu-underline {
  padding: 2px;
  background: orange;
}

li {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.heading span {
  color: #c235ff;
}

a {
  color: inherit;
  text-decoration: none;
}

#domains {
  color: #0ef;
  text-align: left;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-box-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.hero-section {
  font-family: "Poppins", sans-serif;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
  text-align: center;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.about-text h1 span {
  color: #0ef;

}

.about-text h1 {
  margin-top: 33vh;
}

.container1 {
  /*width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;*/
}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-bottom: 50px;
}

.heading1 span {
  color: #0ef;

}

.bar {
  font-size: 23px;
}

.Technical-bars .bar {
  margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
  margin-top: 0px;
}

.Technical-bars .bar:last-child {
  margin-bottom: 0px;
}

.Technical-bars .bar .info {
  margin-bottom: 5px;
}

.Technical-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

.Technical-bars .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scalex(0);
  transform-origin: left;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scalex(0);
  transform-origin: left;
}

.progress-line.html span {
  width: 95%;
}

.progress-line.CSS span {
  width: 90%;
}

.progress-line.Javascript span {
  width: 40%;
}

.progress-line.Python span {
  width: 60%;
}

.progress-line.Java span {
  width: 30%;
}

.center {
  text-align: center;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.progress-line.html span::after {
  content: "95%";
}

.progress-line.CSS span::after {
  content: "90%";
}

.progress-line.Javascript span::after {
  content: "40%";
}

.progress-line.Python span::after {
  content: "60%";
}

.progress-line.Java span::after {
  content: "30%";
}

.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}


.pd-10 {
  padding: 10px;
}

.heading {
  margin: 2px;
}

.nav-bar {
  background-color: #081b29;
}

a {
  margin-right: 30px;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-right: 130px;
}

.contact-text h2 {
  font-size: 90px;
  line-height: 1;
  text-align: left;
}
/*.contact-list{
margin-bottom: 30px;
}*/

.heading2 span {
  color: #0ef;
}

.img {
  float: right;
  margin-top: -40vh;
}
.img-small {
  width: 350px;
}
@media (max-width: 750px) {
    #edu-box-container {
        display: block;
    }

    .edu-box {
        margin: 4px 0px;
    }

  .img-small {
        width: 100px;
   }
  }